<a href="https://colab.research.google.com/github/mazidgaba/Python/blob/main/ForLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "Mazid"

for i in name:
    print(i)

M
a
z
i
d

In [4]:
fruits = ["banana", "Mango", "Apple", "orange"]

for fruit in fruits:
    print(fruit)
    for letter in fruit:
        print(letter)

banana
b
a
n
a
n
a
Mango
M
a
n
g
o
Apple
A
p
p
l
e
orange
o
r
a
n
g
e

In [6]:
for k in range (6):
  print(k+1)

1
2
3
4
5
6

In [7]:
for k in range (6):
  print(k)

0
1
2
3
4
5

In [8]:
for k in range (6):
  print(k-1)

-1
0
1
2
3
4

In [10]:
for k in range (6, 20):
  print(k)

6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
for k in range (6, 20, 4):
  print(k)

6
10
14
18