<a href="https://colab.research.google.com/github/mazidgaba/Python/blob/main/FunctionArgument.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def average (a,b,c):

    print("The average of the Three Number is ",(a+b+c)/3)


average (1,2,3)
average (2,3,4)
average (3,4,5)

The average of the Three Number is  2.0
The average of the Three Number is  3.0
The average of the Three Number is  4.0

**Default Aurgument**

In [9]:
def average (a=1,b=9,c=2):

    print("The average of the Three Number is ",(a+b+c)/3)


average ()
average (2,4)
average (4,5)

The average of the Three Number is  4.0
The average of the Three Number is  2.6666666666666665
The average of the Three Number is  3.6666666666666665

In [14]:
def average (a,c=2):

    print("The average of the Three Number is ",(a+c)/3)


average (2)
average (2,4)
average (4,5)

The average of the Three Number is  1.3333333333333333
The average of the Three Number is  2.0
The average of the Three Number is  3.0

In [23]:
def FullName (first, mname= "jerry", lname="kate"):
    print(first, mname, lname)


FullName (input("Enter First Name : "))
FullName (input("Enter First Name : "),input("Enter Middle Name : "))
FullName (input("Enter First Name : "),input("Enter Middle Name : "),input("Enter Last Name : "))

Enter First Name : Gulam
Gulam jerry kate
Enter First Name : Mazid
Enter Middle Name : Mazid
Mazid Mazid kate
Enter First Name : Mr
Enter Middle Name : Gulam
Enter Last Name : Mazid
Mr Gulam Mazid

**`Keyword Argument`**

In [26]:
def average (a,b,c):

    print("The average of the Three Number is ",(a+b+c)/3)


average (c=1,b=2,a=3)
average (b=2,a=13,c=4)
average (b=3,a=4,c=5)

The average of the Three Number is  2.0
The average of the Three Number is  6.333333333333333
The average of the Three Number is  4.0

**Arbitary Argument**

In [38]:
def average (*number):
        sum =0
        for i in number:
          sum = sum + i
        print("The average of the Three Number is ",sum/len(number))


average (1,2,3)
average (2,3,4)
average (3,4,5 ,6,728, 9, 7)

The average of the Three Number is  2.0
The average of the Three Number is  3.0
The average of the Three Number is  108.85714285714286

In [27]:
def average (*num):

    print("The average of the Three Number is ",sum(num)/len(num))


average (1,2,3)
average (2,3,4)
average (3,4,5 ,6,728, 9, 7)

The average of the Three Number is  2.0
The average of the Three Number is  3.0
The average of the Three Number is  108.85714285714286

**Keyword Arbitary Argument**

In [48]:
def name(**name):
    print("Hello,", name["fname"], name["mname"], name["lname"])

name(fname = input("Enter First Name : "), mname = input("Enter Middle Name : "), lname = input("Enter Last Name : "))

Enter First Name : mr
Enter Middle Name : gulam
Enter Last Name : mazid
Hello, mr gulam mazid

In [45]:
def name(**name):
    print("Hello,", name["fname"], name["mname"], name["lname"])

name(fname = "Mr", mname = "Gulam", lname = "Mazid")

Hello, Mr Jerry Kate