<a href="https://colab.research.google.com/github/mazidgaba/Python/blob/main/Tuples01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
typ = (1,2, "mazid", "gaba", 3.14)
print(typ)

print(type(typ))
print(type(typ[0]))
print(type(typ[1]))
print(type(typ[2]))
print(type(typ[3]))
print(type(typ[4]))



print(typ[0])
print(typ[1])
print(typ[2])
print(typ[3])
print(typ[4])

print(typ[:-1])
print(typ[-2:])


if "mazid" in typ:
    print("mazid is in the list")
else:
    print("mazid is not in the list")

for char in "mazid":
    print(char)

(1, 2, 'mazid', 'gaba', 3.14)
<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
1
2
mazid
gaba
3.14
(1, 2, 'mazid', 'gaba')
('gaba', 3.14)
mazid is in the list
m
a
z
i
d

In [9]:
typ1 = (1)
print(type(typ1))

typ2 = (1,)
print(type(typ2))

typ3 = 1,
print(type(typ3))

typ4 = 1
print(type(typ4))

<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>